# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

Circuit_Projects/NDROmCells/outputWorkingAlmost/

UI/circuit_data.js

BasicCellsHomemade_MultiplexerAmeli.sp
.venv
__pycache__/*.pyc